.divTopbar{
    display: flex;
    gap:8.125rem;
}

.iconTopbar{
    width: 4rem;
    height: 3.5rem;
    padding: 1.2rem;
    margin-left: 0.8rem;
    margin-top: -0.7rem;
}
body{
    background-color: white;
}
.divchildTopbar{
    width:5rem;
    height:3rem;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    position: absolute;
    left:90%;
    top:10%;
    cursor: pointer;
}
.spandivchildTopbar{
    position: relative;
    top:13px;
    left:10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .divchildTopbar{
        width:5rem;
        height:3rem;
        background-color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        position: absolute;
        left:60%;
        top:10%;
        cursor: pointer;
    }
    .spandivchildTopbar{
        position: relative;
        top:13px;
        left:10px;
    }
}