.imgCoding{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
}

.divchildCoding{
    display: flex;
    gap:40px;
}

.divchildCoding p{
    margin: 30px;
    padding: 50px;
    font-size: 1.43rem;
    line-height: 1.6;
}