.imgEnglish{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
}

.divchildEnglish{
    display: flex;
    gap:40px;
}

.divchildEnglish p{
    margin: 10px;
    padding: 50px;
    font-size: 1.8rem;
    line-height: 1.6;
}