*{
    margin:0;
}

.iconCoding{
    width: 9rem;
    height: 8rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.ulSubjects{
    list-style-type: none;
    display: flex;
    gap:200px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.ulSubjects li{
    margin-right: 20px;
    cursor: pointer;
}

.divSubjects{
    background: linear-gradient(to right, rgba(143, 244, 134, 0.5), rgba(255, 140, 68, 0.8));
    overflow: hidden;
    height: 600px;
}