.divmainLowerbar h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divLowerbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.buttonLowerbar{
    margin-left:1.5rem;
    background-color: rgb(151, 151, 255);
    border:1px solid rgb(151, 151, 255);
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1%;
    line-height: 2rem;
}

.navButtonLowerbar{
    text-decoration: none;
}

.divLowerbarHead{
    font-size: 3rem;
    margin:2rem;
    color: rgb(242, 255, 0);
}

.divLowerbarul{
    color:rgb(255, 170, 52);
    font-size: 1.5rem;
}

.imgLowerbar{
    margin-left: 1.45rem;
    border-radius: 10px;
    margin-top: 2rem;
}