.divmainLowerbar h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divLowerbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 1rem;
}

.divchildLowerbar{
    width:24.375rem;
    height:24.375rem;
    border-radius: 10px;
    background-color: rgb(22, 0, 61);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.divchildLowerbar:hover{
    cursor: pointer;
}
/* ----------------------------------------------------------------------------------------------------- */
.divchildLowerbarh1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-left: 1.7rem;
}

.divchildLowerbarul{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 1.4rem;
}

.lidivchildLowerbarul{
    margin-bottom: 1rem;
}

@media (max-width:768px){
    .divLowerbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divchildLowerbar{
        width:90%;
        margin-bottom: 1rem;
    }
}