body{
    overflow-x: hidden;
}

.divMiddlebar{
    position: relative;
    display: inline-block;
}
.textOverlaydivMiddlebar{
    position: absolute;
    top: 8%; /* Adjust as needed */
    left: 37%; /* Adjust as needed */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.textOverlaydivMiddlebar h1{
    font-size: 6rem;
    font-family: monospace;
}

.animatedHeadingMiddlebar{
    opacity: 0; 
    transition: opacity 2s ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.animatedHeadingMiddlebar.active1 {
    opacity: 1; 
    transition: opacity 2s ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Media query for smaller screens */
@media screen and (max-width: 300px) {
    .divMiddlebar {
      display: flex;
      flex-direction: column; /* Stack items vertically on small screens */
      align-items: center; /* Center items horizontally on small screens */
    }
  
    .textOverlaydivMiddlebar {
      top: 50%; /* Center vertically on small screens */
      left: 50%; /* Center horizontally on small screens */
      transform: translate(-50%, -50%);
    }
  
    .animatedHeadingMiddlebar {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }
}  