.imgMiddlebar{
    width:260px;
    height: 260px;
    padding: 20px;
    margin-left: 10px;
}

.divMiddlebar{
    background: linear-gradient(to right, rgb(176, 134, 244, 0.5), rgb(204, 255, 121, 0.8));
    height: 500px;
}

.childdivMiddlebar{
    display: flex;
}

.childdivchilddivMiddlebar{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.childdivchilddivMiddlebar h2{
    font-size: 3.5rem;
    padding-bottom: 30px;
}

.childdivchilddivMiddlebar p{
    font-size: 2rem;
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.buttonMiddlebar1{
    width:400px;
    height:120px;
    border-radius: 20px;
    margin-left:420px;
    background-color: rgb(151, 151, 255);
    font-size: 3rem;
    font-weight: bold;
}

.buttonMiddlebar1 .navButton{
    text-decoration: none;
}