.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 2.1rem;
    padding: 1.2rem;
    font-weight: bold; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.nav-link:hover {
    color: rgb(255, 158, 23); 
    background-color: rgb(24, 147, 255);
}
.active {
    color: rgb(255, 255, 0);
    background-color: rgb(5, 35, 110);
    font-weight: bold; 
}
  